 #Sporthead {
    box-sizing: border-box;
}
.mainheading{
    border: 1px solid red;
    padding: 15px;
}

p{
    color: white;
}

h1 {
    background-color: grey;

}

body   {
    background: url("http://www.vectorfree.com/media/vectors/sports-balls-vector.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align:center;
    } 
    
    #sportbody{
        
    }