.receipt{
    Color: white;
    Border-color:Red;
    border-radius:10px;
    border-style: solid;
    font-size:17px;
    text-decoration: None;
    border-width:2px;
    margin-left: 30%;
    margin-right:30%;
    background-color: lightblue;
}


.head3{
    
    background-color: yellow;

}